Main.aux
Main.bbl
Main.blg
Main.fdb_latexmk
Main.fls
Main.log
Main.pdf
Main.synctex.gz
青年.aux
青年.bbl
青年.log
青年.pdf
青年.synctex.gz
青年.blg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.xdv
